:root{
   --color-dark: #000;
   --color-pink-light: #EBCEBE;
   --color-light: #FFF;
   --color-light-alt: #d9d9d9;
   --color-gray: #cacaca;
   --color-brown: #ebcebe;
   --color-brown-dark: #3b0a04;
   --font-family-base: 'Montserrat', sans-serif;
   --border-radius: 60px;

   --transition-duration: 0.2s;
}